body {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color: green;
    font-family:'Raleway', sans-serif;
}

.fondecran {
    background-image:url("images/domino.png");
    background-position: center;
    background-size: cover;
}

.icone {
    max-width: 60%;
    max-height: 60%;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 6px;
}

.submenu {
    display: none;
    position: absolute;
}

.items-submenu {
    line-height: 30px;
    position: relative; 
    right: 40px;   
    top: 7px;
    border-top: solid white 1px;
}

.items-submenu a {
    font-size: 1em;
}

.navmenu:hover > .submenu {
    display: block;
}

nav {
    width: 150%;
}

a, .navmenu {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.navmenu:nth-child(2) {
    font-size: 1.2em;
}

nav a:hover, .navmenu:hover {
    color: rgb(57,245,18);
    transition: color 1s;
}

li {
    list-style-type: none;  
}

.link p {
    background-color: green;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    font-size: 0.5em;
    padding: 5px;
}

.link p:hover {
    transform: scale(1.3);
    background-color: rgb(57,245,18);
    transition: transform 1s, color 1s;
}

.section1 {
    font-family: 'DM Serif Display', serif;
    font-size: 2.5em;
    font-weight: 900;
    text-align:center;
    font-weight: 400;
}

.section1 h1 {
    text-shadow: 2px -2px 2px black;
    color: rgb(57,245,18);
}

h1 + p {
    color: white;
    text-shadow: 5px -5px 3px green;
    font-style: italic;
}

.section2 {
    background: linear-gradient(to bottom, #787878, lightgrey, grey);
    ;
}

hr {
    width: 80%;
}

h2 + p {
    color: black;
    font-weight: bold;
}

.section2 h1 {
    margin: 0;
    border: inset green 4px;
    color: green;
    border-radius: 12px;
    padding: 1px 4px;
    font-family: 'DM Serif Display', serif;
    font-size: 1.8em;
    font-weight: bold;
    display: inline;
}

.section2 h2 {
    margin: 0;
}

a[href*="donkey.school"] {
    border: solid 2px white;
    padding: 3px 3px;
}

.section3 {
    margin: 10px;
    padding: 10px;
    border: 8px solid green;
    border-radius: 20px;
    text-align: center;
}

.section3 h2 {
    margin-top: 0;
    color: black;
}

input[type="submit"] {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 1em;
    position: relative;
    left: 265px;
}

.letter {           /*faire disparaitre l'enveloppe*/
    display: none;
}

.letter img {
    max-width: 60%;
    max-height: 60%
}

footer {
    background-color: black;
    color: white;
}

.items-submenu:hover {
    opacity: 0.7;
}

.section4 {
    margin-top: 10px;
}

.img-section4 img {
    max-width: 100%;
    height: 100%;
}

.text-section4 {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

                                /* DISPLAY*/

header {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: flex-end;

}

.navmenu {
    padding: 0 15px;
    flex-shrink: 0;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    }

.link {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
}

.formular textarea {
    margin-top: 10px;
}

.formular {
    text-align: left;
    line-height: 1.8;
}

footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
}




                                    

