body {
    box-sizing:border-box;
    color: green;
    font-family:'Raleway', sans-serif;
}

.fondecran {
    background-image:url("images/lune_mobile.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}

img {
    max-width: 60%;
    max-height: 60%;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 6px;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.link p {
    background-color: green;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 5px;
}

h1, h1 + p {
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
    font-weight: 1000;
}

h1 + p {
    font-style:italic;
    font-weight: 400;
}

footer {
    background-color: lightgrey;
    min-height: 200px; 
    font-size: 100%;
    font-weight: bold;
}

h2 {
    margin: 2px 2px;
    text-decoration: underline;
}

h2 + p {
    color: black;
}

/* on attaque le display*/

header {
    display: flex;
}

nav {
    width: 150%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.link {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}











.submenu {
    display: none;
}

