body {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color: green;
    font-family:'Raleway', sans-serif;
}

.fondecran {
    background-image:url("images/lune_mobile.png");
    background-position: center;
}

img {
    max-width: 60%;
    max-height: 60%;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 6px;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    list-style-type: none;
}
 
li {
    list-style-type: none;
}

.link p {
    background-color: green;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 5px;
}

h1, h1 + p {
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
    font-weight: 1000;
}

h1 + p {
    font-style:italic;
    font-weight: 400;
}

.section2 {
    background: linear-gradient(to bottom, #787878, lightgrey, grey);
    font-size: 100%;
    font-weight: bold;
}

h2 + p {
    color: black;
}

.div-section2 h1 {
    margin: 0;
    border: inset green 3px;
    border-radius: 12px;
    padding: 0 4px;
}

.div-section2 h2 {
    margin-bottom: 0;
    width: 80%;
    border-top: solid 2px white;
}

a[href*="donkey.school"] {
    border: double 2px white;
    padding: 3px 3px;
}

footer {
    background-color: black;
    color: white;
}
/* on attaque le display*/

header {
    display: flex;
}

nav {
    width: 150%;
}

.navbar {
    display: flex;
    justify-content: flex-end;

}

.navmenu {
    padding: 0 15px;
    flex-shrink: 0;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    }

.link {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
}

footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.submenu {
    display: none;
    position: absolute;
}

.navmenu:hover > .submenu {
    display: block;
}

.items-submenu {
    line-height: 30px;
    position: relative; 
    right: 40px;   
    top: 7px;
    border-top: solid white 1px;
}

.items-submenu:hover {
    opacity: 0.7;
}


@media screen and (min-width: 655px) {
    .fondecran {
        background-image: url("images/lune.png");
        background-position: center;
    }
        
    }